.list {
    padding: 0;
}

.item {
  padding: 12px 24px;
  &NoGutters {
    padding: 12px 8px;
  }
}
  
.text {
  margin: 0;
  line-height: 1;
  :global(.MuiListItemText-primary) {
    font-size: 0.875rem;
  }
  :global(.MuiListItemText-secondary) {
    font-size: 0.8125rem;
  }
  &End {
    text-align: right;
  }
}

.icon {
  min-width: 36px;
  & svg {
    width: 18;
    height: 18;
  }
}

header {
  padding: 24px 24px 8px 8px !important;
  & .MuiListItemText-primary {
    text-transform: uppercase;
    font-size: 12;
    font-weight: 600;
  }
}
